/* * {
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  margin: 0;
  padding: 0;
}

#messageForm {
  background: #3d8a83;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#messageForm input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

#messageForm button {
  width: 9%;
  background: #B9D0C6;
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messageList {
  margin-top: 3em;
}

.overlay {
  /* height: 100%; */

width: 100%;

/* position: fixed; */

z-index: 1;
background-color: #B9D0C6;
overflow-x: hidden;
top: 0;

}
.removeOverlay {
  display: none;
}
*/