@font-face {
  font-family: Montserrat;
  src: url('Montserrat.ttf')
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('Montserrat-Bold.ttf')
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('Montserrat-SemiBold.ttf')
}

@font-face {
  font-family: Montserrat-Black;
  src: url('Montserrat-Black.ttf')
}

h1 {
  font-family: Montserrat-Black;
  color: #FFBA00;
  font-size: 3em;
  letter-spacing: 1px;
}

h2 {
  font-family: Montserrat-SemiBold;
  color: #DD7610;
  font-size: 1em;
}

h3 {
  font-family: Montserrat-SemiBold;
  color: #FFBA00;
  font-size: 1.3em;
}

h4 {
  font-family: Montserrat-SemiBold;
  color: #DD7610;
  font-size: .9em;
  margin-bottom: 0;
}

p,
a {
  font-family: Montserrat;
  color: #dd7610;
  font-size: .9em;
}

body {
  background-color: #FAFAF5;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: unset;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  position: fixed;
  top: 0;
  /* background-color: #F07707; */
}

header a {
  margin: 0em 0em 0 0;
  padding: .5em 1em;
  color: #ffffff;
  background-color: #667816;
  text-decoration: none;
}

button {
  border: none;
  background-color: #667816;
  color: white;
  padding: .5em 1em;
  font-family: Montserrat;
  font-size: .9em;
  margin: 1em 1em 0 0;
}

.htmlcontent {
  background-color: #fafaf4;
  min-height: 100vh;
  margin: 0 0 0 auto;
  display: block;
  width: 100%;
  padding-top: 3em;
}

#intromaps {
  padding: 1em;
  max-width: 50em;
  margin: 0 auto;
}

#intromaps h1 {
  margin: 0;
  display: inline;
}

#intromaps img {
  display: inline;
  height: 4em;
  margin: 0 0 auto -1em;
}

#map {
  margin: 0 auto;
  width: 90vw !important;
  height: 50vh !important;
  padding: 1em;
}

#map div:nth-of-type(1) div div canvas {
  width: 100%;
  height: 100%;
}

#room-container {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
}

#room-container h2 {
  margin: 0;
}

fieldset {
  display: flex;
  flex-direction: column;
}

#room-container a {
  padding: 1em 2em;
  color: #ffffff;
  background-color: #667816;
  text-decoration: none;
}

#message-container {
  width: 100%;
  max-width: 40em;
}

#message-container div {
  background-color: #CCC;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #FFF;
}

#send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  background-color: white;
  max-width: 40em;
  width: 100%;
  display: flex;
}

#message-input {
  flex-grow: 1;
}

@media all and (min-width: 30em) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1m;
  }
  #intromaps {
    max-width: 40em;
  }
  #map {
    max-width: 40em;
  }
  #room-container {
    max-width: 40em;
  }
}

@media all and (min-width: 70em) {
  h1 {
    font-size: 3.7em;
  }
  h2 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
  body {
    background-image: url('../img/priscilla-du-preez-L3lznpRPZbI-unsplash.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    background-position: left;
  }
  #intromaps {
    max-width: 40em;
    margin: 0 auto 0 5%;
  }
  #map {
    max-width: 40em;
    margin: 0 auto 0 5%;
  }
  #room-container {
    max-width: 40em;
    margin: 0 auto 0 5%;
  }
  .htmlcontent {
    width: 70%;
    padding: 3em 3em;
  }
}


/*
  #mapshtml {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 70%;
    max-width: 65em;
    margin: 0 auto;
  }
  #intromaps {
    grid-area: 1 / 1 / 1 / 1;
  }
  #map {
    grid-area: 2 / 1 / 3 / 1;
  }
  #room-container {
    grid-area: 2 / 2 / 3 / 3;
  }
} */